In [116]:
import pandas as pd

In [243]:
#!pip install sodapy

In [118]:
from sodapy import Socrata

In [119]:
# Code was taken from the website
client = Socrata("data.cityofnewyork.us", 'o7rJkdZZ7zAnJWOTmjaaLU64f')

In [120]:
results = client.get("fhrw-4uyv", limit=500000)
# this was as big as i could pull without freezing my comp for ~ 20 minutes

In [121]:
df = pd.DataFrame.from_records(results)

In [122]:
df.head()

,:@computed_region_92fq_4b7q,:@computed_region_efsh_h5xi,:@computed_region_f5dn_yrer,:@computed_region_sbqj_enih,:@computed_region_yeji_bk3q,address_type,agency,agency_name,bbl,borough,...,resolution_description,road_ramp,status,street_name,taxi_company_borough,taxi_pick_up_location,unique_key,vehicle_type,x_coordinate_state_plane,y_coordinate_state_plane
0,27,13514,14,48,2,ADDRESS,NYPD,New York City Police Department,3004670021,BROOKLYN,...,The Police Department responded to the complai...,NaN,Closed,3 PLACE,NaN,NaN,20403865,NaN,985116,186455
1,32,13096,56,2,4,NaN,DOT,Department of Transportation,NaN,MANHATTAN,...,"The condition has been inspected/investigated,...",Ramp,Closed,NaN,NaN,NaN,20403866,NaN,984436,197228
2,32,13096,56,2,4,NaN,DOT,Department of Transportation,NaN,MANHATTAN,...,"The condition has been inspected/investigated,...",Ramp,Closed,NaN,NaN,NaN,20403867,NaN,984436,197228
3,33,14787,53,66,3,ADDRESS,DPR,Department of Parks and Recreation,4013250054,QUEENS,...,The condition was inspected and it was determi...,NaN,Closed,56 STREET,NaN,NaN,20403868,NaN,1009551,210660
4,4,16859,39,72,3,ADDRESS,DOT,Department of Transportation,4008870018,QUEENS,...,The Department of Transportation inspected the...,NaN,Closed,26 AVENUE,NaN,NaN,20403871,NaN,1004617,221261

In [123]:
df.shape

(500000, 46)

In [124]:
df.columns

Index([':@computed_region_92fq_4b7q', ':@computed_region_efsh_h5xi',
       ':@computed_region_f5dn_yrer', ':@computed_region_sbqj_enih',
       ':@computed_region_yeji_bk3q', 'address_type', 'agency', 'agency_name',
       'bbl', 'borough', 'bridge_highway_direction', 'bridge_highway_name',
       'bridge_highway_segment', 'city', 'closed_date', 'community_board',
       'complaint_type', 'created_date', 'cross_street_1', 'cross_street_2',
       'descriptor', 'due_date', 'facility_type', 'incident_address',
       'incident_zip', 'intersection_street_1', 'intersection_street_2',
       'landmark', 'latitude', 'location', 'location_type', 'longitude',
       'open_data_channel_type', 'park_borough', 'park_facility_name',
       'resolution_action_updated_date', 'resolution_description', 'road_ramp',
       'status', 'street_name', 'taxi_company_borough',
       'taxi_pick_up_location', 'unique_key', 'vehicle_type',
       'x_coordinate_state_plane', 'y_coordinate_state_plane'],
      dtype='object')

In [125]:
df.isnull().sum()

:@computed_region_92fq_4b7q          200
:@computed_region_efsh_h5xi         1033
:@computed_region_f5dn_yrer          196
:@computed_region_sbqj_enih          196
:@computed_region_yeji_bk3q          195
address_type                        2220
agency                                 0
agency_name                            0
bbl                               117379
borough                                0
bridge_highway_direction          498955
bridge_highway_name               498955
bridge_highway_segment            498955
city                                  27
closed_date                        38379
community_board                        0
complaint_type                         0
created_date                           0
cross_street_1                     74175
cross_street_2                     74248
descriptor                             3
due_date                          314052
facility_type                          7
incident_address                   94533
incident_zip                         276
intersection_street_1             407169
intersection_street_2             407163
landmark                          499561
latitude                               0
location                               0
location_type                     137659
longitude                              0
open_data_channel_type                 0
park_borough                           0
park_facility_name                     0
resolution_action_updated_date     10215
resolution_description             23181
road_ramp                         498955
status                                 0
street_name                        94534
taxi_company_borough              499469
taxi_pick_up_location             495008
unique_key                             0
vehicle_type                      499458
x_coordinate_state_plane               0
y_coordinate_state_plane               0
dtype: int64

In [126]:
# dropping columns with too many nulls
drop_cols = [col for col in df.columns if df[col].isnull().sum() > 2_000]

In [127]:
drop_cols

['address_type',
 'bbl',
 'bridge_highway_direction',
 'bridge_highway_name',
 'bridge_highway_segment',
 'closed_date',
 'cross_street_1',
 'cross_street_2',
 'due_date',
 'incident_address',
 'intersection_street_1',
 'intersection_street_2',
 'landmark',
 'location_type',
 'resolution_action_updated_date',
 'resolution_description',
 'road_ramp',
 'street_name',
 'taxi_company_borough',
 'taxi_pick_up_location',
 'vehicle_type']

In [128]:
df.drop(columns= drop_cols, inplace=True)

In [129]:
df['complaint_type'].value_counts()

GENERAL CONSTRUCTION                 36816
Noise - Residential                  32751
PLUMBING                             30387
Water System                         28961
PAINT - PLASTER                      27114
Street Condition                     26385
NONCONST                             22261
Street Light Condition               16308
Sewer                                16295
Damaged Tree                         15576
Blocked Driveway                     13517
Building/Use                         13083
Dirty Conditions                     12085
ELECTRIC                             11640
Illegal Parking                      10417
General Construction/Plumbing         9822
Noise                                 9516
Sanitation Condition                  8905
Noise - Street/Sidewalk               8590
Rodent                                8333
HEATING                               7881
Overgrown Tree/Branches               7222
Traffic Signal Condition              6775
Missed Collection (All Materials)     5879
Sidewalk Condition                    5594
Taxi Complaint                        5549
Noise - Vehicle                       5469
Consumer Complaint                    5272
Graffiti                              4971
Noise - Commercial                    4886
                                     ...
Collection Truck Noise                  19
Municipal Parking Facility              17
Registration and Transfers              16
Health                                  16
Highway Sign - Damaged                  15
Drinking Water                          14
Legal Services Provider Complaint       11
Non-Residential Heat                    11
Highway Sign - Missing                  11
Parent Leadership                       11
Radioactive Material                    10
Stalled Sites                           10
Public Toilet                           10
Illegal Animal Sold                      9
Lifeguard                                9
Bottled Water                            7
X-Ray Machine/Equipment                  6
Calorie Labeling                         5
Adopt-A-Basket                           3
Highway Sign - Dangling                  3
Squeegee                                 3
No Child Left Behind                     2
Lost Property                            2
Taxi Compliment                          2
Snow                                     2
Portable Toilet                          2
Building Condition                       1
Forensic Engineering                     1
Trans Fat                                1
Transportation Provider Complaint        1
Name: complaint_type, Length: 152, dtype: int64

In [130]:
df.complaint_type.head()

0           Blocked Driveway
1           Bridge Condition
2           Bridge Condition
3    Overgrown Tree/Branches
4           Street Condition
Name: complaint_type, dtype: object

In [131]:
col_dr = [col for col in df.columns if col.startswith(':') == True]
df.drop(columns= col_dr, inplace = True)

In [132]:
#dropping remaining null values
df.isnull().sum()

agency                        0
agency_name                   0
borough                       0
city                         27
community_board               0
complaint_type                0
created_date                  0
descriptor                    3
facility_type                 7
incident_zip                276
latitude                      0
location                      0
longitude                     0
open_data_channel_type        0
park_borough                  0
park_facility_name            0
status                        0
unique_key                    0
x_coordinate_state_plane      0
y_coordinate_state_plane      0
dtype: int64

In [133]:
df.dropna(inplace=True)

In [134]:
len(df.columns)

20

In [135]:
df.isnull().sum()

agency                      0
agency_name                 0
borough                     0
city                        0
community_board             0
complaint_type              0
created_date                0
descriptor                  0
facility_type               0
incident_zip                0
latitude                    0
location                    0
longitude                   0
open_data_channel_type      0
park_borough                0
park_facility_name          0
status                      0
unique_key                  0
x_coordinate_state_plane    0
y_coordinate_state_plane    0
dtype: int64

In [136]:
df.shape

(499701, 20)

In [145]:
df['city'] = df['city'].str.lower()

In [86]:
df.city.value_counts(normalize = True)

brooklyn               0.322537
bronx                  0.185626
new york               0.184324
staten island          0.057357
jamaica                0.029556
flushing               0.019761
astoria                0.015387
ridgewood              0.011431
corona                 0.009403
ozone park             0.008052
woodside               0.008014
far rockaway           0.007974
queens village         0.007838
east elmhurst          0.007032
south richmond hill    0.006934
elmhurst               0.006922
south ozone park       0.006842
forest hills           0.006294
jackson heights        0.005690
fresh meadows          0.005654
richmond hill          0.005616
woodhaven              0.005436
long island city       0.005392
springfield gardens    0.005286
saint albans           0.005102
maspeth                0.004958
bayside                0.004832
whitestone             0.004722
middle village         0.004384
hollis                 0.004374
rosedale               0.003690
rego park              0.003678
college point          0.003334
little neck            0.003234
howard beach           0.003202
oakland gardens        0.003186
sunnyside              0.002698
cambria heights        0.002624
bellerose              0.002456
kew gardens            0.002336
rockaway park          0.002252
arverne                0.001852
glen oaks              0.001484
new hyde park          0.000460
floral park            0.000438
queens                 0.000256
breezy point           0.000068
madison                0.000002
cambria heighs         0.000002
na                     0.000002
n/a                    0.000002
wilmington             0.000002
wllington              0.000002
hoboken                0.000002
Name: city, dtype: float64

In [69]:
df.borough.value_counts()

BROOKLYN         63201
QUEENS           44922
BRONX            42500
MANHATTAN        39163
STATEN ISLAND     9892
Unspecified        322
Name: borough, dtype: int64

In [90]:
df[df['borough'] == 'Unspecified']['city']

16617               bronx
16661              queens
30936            brooklyn
36519       staten island
55289              queens
57564       staten island
62244            new york
67365              queens
67514              queens
80829              queens
105509           brooklyn
111344                 na
114128           new york
114258          wllington
115950              bronx
126293      staten island
137087      staten island
137088      staten island
144473             queens
144791             queens
147586             queens
151272              bronx
157457      staten island
163226            jamaica
164273            hoboken
167192           new york
167193           new york
167194           new york
175571           brooklyn
182998           brooklyn
188085           brooklyn
201138              bronx
208747    cambria heights
244351              bronx
248394             queens
276205             queens
285824              bronx
287190         wilmington
291283           brooklyn
312619           new york
319386            madison
336765             queens
341808           brooklyn
381865           brooklyn
381899             queens
386817              bronx
401812             queens
415455              bronx
429312           brooklyn
429313           brooklyn
439427              bronx
454235             queens
456819           brooklyn
471328           brooklyn
471933           new york
472046             queens
477129             queens
Name: city, dtype: object

In [93]:
df.dropna(inplace=True)

In [95]:
df.isnull().sum()

:@computed_region_92fq_4b7q    0
:@computed_region_efsh_h5xi    0
:@computed_region_f5dn_yrer    0
:@computed_region_sbqj_enih    0
:@computed_region_yeji_bk3q    0
agency                         0
agency_name                    0
borough                        0
city                           0
community_board                0
complaint_type                 0
created_date                   0
descriptor                     0
facility_type                  0
incident_zip                   0
latitude                       0
location                       0
longitude                      0
open_data_channel_type         0
park_borough                   0
park_facility_name             0
status                         0
unique_key                     0
x_coordinate_state_plane       0
y_coordinate_state_plane       0
dtype: int64

In [189]:
df.shape

(499701, 20)

In [97]:
len(df.columns)

25

In [98]:
df.borough.value_counts(normalize = True)

BROOKLYN         0.322827
QUEENS           0.250562
BRONX            0.185752
MANHATTAN        0.183488
STATEN ISLAND    0.057359
Unspecified      0.000012
Name: borough, dtype: float64

In [111]:
col_dr = [col for col in df.columns if col.startswith(':') == True]

In [113]:
df.drop(columns= col_dr, inplace = True)

In [115]:
len(df.columns)

20

In [138]:
df.dtypes

agency                      object
agency_name                 object
borough                     object
city                        object
community_board             object
complaint_type              object
created_date                object
descriptor                  object
facility_type               object
incident_zip                object
latitude                    object
location                    object
longitude                   object
open_data_channel_type      object
park_borough                object
park_facility_name          object
status                      object
unique_key                  object
x_coordinate_state_plane    object
y_coordinate_state_plane    object
dtype: object

In [146]:
df.head()

,agency,agency_name,borough,city,community_board,complaint_type,created_date,descriptor,incident_zip,latitude,location,longitude,open_data_channel_type,park_borough,park_facility_name,status,unique_key,x_coordinate_state_plane,y_coordinate_state_plane
0,NYPD,New York City Police Department,BROOKLYN,brooklyn,06 BROOKLYN,Blocked Driveway,2011-05-11T07:25:54.000,No Access,11231,40.678452621891566,"{'type': 'Point', 'coordinates': [-73.99687782...",-73.9968778216615,PHONE,BROOKLYN,Unspecified,Closed,20403865,985116,186455
1,DOT,Department of Transportation,MANHATTAN,new york,01 MANHATTAN,Bridge Condition,2011-05-11T08:28:02.000,Graffiti - Bridge,10002,40.7080220550756,"{'type': 'Point', 'coordinates': [-73.99932911...",-73.99932911919944,PHONE,MANHATTAN,Unspecified,Closed,20403866,984436,197228
2,DOT,Department of Transportation,MANHATTAN,new york,01 MANHATTAN,Bridge Condition,2011-05-11T08:39:45.000,Graffiti - Bridge,10002,40.7080220550756,"{'type': 'Point', 'coordinates': [-73.99932911...",-73.99932911919944,PHONE,MANHATTAN,Unspecified,Closed,20403867,984436,197228
3,DPR,Department of Parks and Recreation,QUEENS,woodside,02 QUEENS,Overgrown Tree/Branches,2011-05-11T09:02:32.000,Dead Branches in Tree,11377,40.74485343519304,"{'type': 'Point', 'coordinates': [-73.90869170...",-73.90869170956374,PHONE,QUEENS,Unspecified,Closed,20403868,1009551,210660
4,DOT,Department of Transportation,QUEENS,astoria,01 QUEENS,Street Condition,2011-05-11T09:54:14.000,Failed Street Repair,11102,40.7739631949891,"{'type': 'Point', 'coordinates': [-73.92646580...",-73.92646580177001,PHONE,QUEENS,Unspecified,Closed,20403871,1004617,221261

In [140]:
df['facility_type'].value_counts()

N/A                393327
Precinct            88236
DSNY Garage         17442
School                468
School District       228
Name: facility_type, dtype: int64

In [142]:
#drop this too
df.drop(columns='facility_type', inplace = True)

In [143]:
df.shape

(499701, 19)

In [144]:
from sklearn

In [174]:
num_dict = {'BROOKLYN': 1, 'MANHATTAN': 2, 'QUEENS': 3, 'BRONX': 4, 'STATEN ISLAND': 5, 'Unspecified': 0}

In [185]:
df['borough_num'] = df['borough'].map(num_dict)

agency                                                                    DOT
agency_name                                      Department of Transportation
borough                                                             MANHATTAN
city                                                                 new york
community_board                                                  01 MANHATTAN
complaint_type                                               Bridge Condition
created_date                                          2011-05-11T08:28:02.000
descriptor                                                  Graffiti - Bridge
incident_zip                                                            10002
latitude                                                     40.7080220550756
location                    {'type': 'Point', 'coordinates': [-73.99932911...
longitude                                                  -73.99932911919944
open_data_channel_type                                                  PHONE
park_borough                                                        MANHATTAN
park_facility_name                                                Unspecified
status                                                                 Closed
unique_key                                                           20403866
x_coordinate_state_plane                                               984436
y_coordinate_state_plane                                               197228
borough_num                                                                 2
Name: 1, dtype: object

In [186]:
df.borough_num.value_counts()

1    161223
3    125006
4     92769
2     92034
5     28663
0         6
Name: borough_num, dtype: int64

In [187]:
#matching the boroughs and numbers
df.borough.value_counts()

BROOKLYN         161223
QUEENS           125006
BRONX             92769
MANHATTAN         92034
STATEN ISLAND     28663
Unspecified           6
Name: borough, dtype: int64

In [188]:
df.head()

,agency,agency_name,borough,city,community_board,complaint_type,created_date,descriptor,incident_zip,latitude,location,longitude,open_data_channel_type,park_borough,park_facility_name,status,unique_key,x_coordinate_state_plane,y_coordinate_state_plane,borough_num
0,NYPD,New York City Police Department,BROOKLYN,brooklyn,06 BROOKLYN,Blocked Driveway,2011-05-11T07:25:54.000,No Access,11231,40.678452621891566,"{'type': 'Point', 'coordinates': [-73.99687782...",-73.9968778216615,PHONE,BROOKLYN,Unspecified,Closed,20403865,985116,186455,1
1,DOT,Department of Transportation,MANHATTAN,new york,01 MANHATTAN,Bridge Condition,2011-05-11T08:28:02.000,Graffiti - Bridge,10002,40.7080220550756,"{'type': 'Point', 'coordinates': [-73.99932911...",-73.99932911919944,PHONE,MANHATTAN,Unspecified,Closed,20403866,984436,197228,2
2,DOT,Department of Transportation,MANHATTAN,new york,01 MANHATTAN,Bridge Condition,2011-05-11T08:39:45.000,Graffiti - Bridge,10002,40.7080220550756,"{'type': 'Point', 'coordinates': [-73.99932911...",-73.99932911919944,PHONE,MANHATTAN,Unspecified,Closed,20403867,984436,197228,2
3,DPR,Department of Parks and Recreation,QUEENS,woodside,02 QUEENS,Overgrown Tree/Branches,2011-05-11T09:02:32.000,Dead Branches in Tree,11377,40.74485343519304,"{'type': 'Point', 'coordinates': [-73.90869170...",-73.90869170956374,PHONE,QUEENS,Unspecified,Closed,20403868,1009551,210660,3
4,DOT,Department of Transportation,QUEENS,astoria,01 QUEENS,Street Condition,2011-05-11T09:54:14.000,Failed Street Repair,11102,40.7739631949891,"{'type': 'Point', 'coordinates': [-73.92646580...",-73.92646580177001,PHONE,QUEENS,Unspecified,Closed,20403871,1004617,221261,3

In [223]:
# model with trying to match complaints to borough
X = df['complaint_type']
y = df['borough_num']

In [207]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LogisticRegression

In [198]:
# getting rid of unspecified data
df = df[df['borough_num'] != 0]

In [224]:
X_train, X_test, y_train, y_test = train_test_split(X, y , stratify = y)

In [231]:
#searching a pipeline
pipe = Pipeline([('cvec', CountVectorizer()), 
                 ('lr',LogisticRegression())])

pipe_params = {
    'cvec__ngram_range': [(1,1),(1,2)],
    'lr__penalty': ['l1', 'l2']
}
grid = GridSearchCV(pipe, param_grid=pipe_params, cv = 3)

In [232]:
grid.fit(X_train, y_train)

/Users/brianschor/anaconda3/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Users/brianschor/anaconda3/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

GridSearchCV(cv=3, error_score='raise-deprecating',
       estimator=Pipeline(memory=None,
     steps=[('cvec', CountVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 1), preprocessor=None, stop_words=None,
        strip...penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False))]),
       fit_params=None, iid='warn', n_jobs=None,
       param_grid={'cvec__ngram_range': [(1, 1), (1, 2)], 'lr__penalty': ['l1', 'l2']},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring=None, verbose=0)

In [233]:
grid.best_score_

0.3793863452615064

In [234]:
grid.best_params_

{'cvec__ngram_range': (1, 2), 'lr__penalty': 'l2'}

In [237]:
#using the params
pipe = Pipeline([('cvec', CountVectorizer(ngram_range=(1,2))), 
                 ('lr',LogisticRegression())])

In [238]:
pipe.fit(X_train, y_train)

/Users/brianschor/anaconda3/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Users/brianschor/anaconda3/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

Pipeline(memory=None,
     steps=[('cvec', CountVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 2), preprocessor=None, stop_words=None,
        strip...penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False))])

In [240]:
pipe.score(X_train, y_train)

0.3806831371690979

In [241]:
pipe.score(X_test, y_test)

0.377989817809228

In [242]:
#scores are close together, close to twice as good as a random guess

In [244]:
pipe.named_steps

{'cvec': CountVectorizer(analyzer='word', binary=False, decode_error='strict',
         dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
         lowercase=True, max_df=1.0, max_features=None, min_df=1,
         ngram_range=(1, 2), preprocessor=None, stop_words=None,
         strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
         tokenizer=None, vocabulary=None),
 'lr': LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
           intercept_scaling=1, max_iter=100, multi_class='warn',
           n_jobs=None, penalty='l2', random_state=None, solver='warn',
           tol=0.0001, verbose=0, warm_start=False)}

In [ ]:
# Set up a dataframe with the coeffeicients on a per borough basis

In [255]:
columns = pipe.named_steps.cvec.get_feature_names()

In [256]:
values = pipe.named_steps.lr.coef_

In [280]:
boroughs = ['Brooklyn', 'Manhattan', 'Queens', 'Bronx', 'Staten Island']

In [281]:
word_df = pd.DataFrame(data = values, columns = columns, index = boroughs)

In [282]:
word_df

,adopt,adopt basket,advertisement,air,air quality,all,all materials,and,and derricks,and discipline,...,wasps,waste,water,water conservation,water quality,water system,window,window guard,worship,youth
Brooklyn,0.052465,0.052465,0.149532,0.041653,0.041653,-0.040130,-0.040130,0.044653,-0.059023,0.015583,...,0.103397,-0.009385,-0.118021,0.170767,-0.092114,-0.006884,0.268194,0.268194,0.123591,-0.075948
Manhattan,-0.332057,-0.332057,-0.031129,0.344472,0.344472,-0.125306,-0.125306,-0.128826,0.192521,0.079842,...,-0.357360,-0.051833,-0.450326,-0.483878,-0.243087,0.177829,0.004991,0.004991,-0.084480,0.197736
Queens,-0.308075,-0.308075,0.156722,-0.159728,-0.159728,0.053338,0.053338,0.148207,-0.131081,0.032078,...,0.108732,0.139647,0.449025,0.109795,0.272107,-0.250505,-0.439025,-0.439025,-0.021775,-0.077566
Bronx,0.601209,0.601209,-0.160600,-0.185898,-0.185898,0.013065,0.013065,0.003255,0.049666,-0.141718,...,0.047302,-0.036201,-0.041279,0.078392,0.072517,0.429284,-0.003113,-0.003113,-0.021962,0.012373
Staten Island,-0.100313,-0.100313,-0.489930,-0.179227,-0.179227,0.225631,0.225631,-0.220000,0.153908,0.183431,...,0.088895,0.306055,0.500720,0.236481,0.357057,-0.180251,0.275942,0.275942,-0.120308,0.249851

In [297]:
# the following are all the most positive and most negative coefficients for each borough

In [287]:
word_df.loc['Brooklyn'].sort_values().head()

construction     -1.240215
found            -0.911000
found property   -0.911000
property         -0.786679
health           -0.747233
Name: Brooklyn, dtype: float64

In [288]:
word_df.loc['Brooklyn'].sort_values(ascending = False).head()

plant                   1.269472
noise helicopter        0.927284
helicopter              0.927284
general construction    0.857368
general                 0.857368
Name: Brooklyn, dtype: float64

In [289]:
word_df.loc['Manhattan'].sort_values().head()

construction       -1.991577
sewer              -1.083401
signal             -0.883582
signal condition   -0.883582
traffic signal     -0.883582
Name: Manhattan, dtype: float64

In [290]:
word_df.loc['Manhattan'].sort_values(ascending = False).head()

vending           1.472056
traffic           1.276341
found             1.169470
found property    1.169470
taxi              1.041905
Name: Manhattan, dtype: float64

In [291]:
word_df.loc['Queens'].sort_values().head()

general construction   -1.720627
general                -1.720627
health                 -1.013542
boilers                -0.707404
plant                  -0.672606
Name: Queens, dtype: float64

In [292]:
word_df.loc['Queens'].sort_values(ascending = False).head()

construction             2.678456
construction plumbing    1.604327
sewer                    0.850899
tree                     0.625114
derelict vehicle         0.571960
Name: Queens, dtype: float64

In [293]:
word_df.loc['Bronx'].sort_values().head()

construction plumbing   -1.998761
plant                   -1.206937
construction            -1.152850
panhandling             -1.113402
bicycle                 -1.039250
Name: Bronx, dtype: float64

In [294]:
word_df.loc['Bronx'].sort_values(ascending = False).head()

health                  1.435078
safety                  1.189017
elevator                1.048108
general construction    1.047875
general                 1.047875
Name: Bronx, dtype: float64

In [295]:
word_df.loc['Staten Island'].sort_values().head()

vending          -1.668228
construction     -1.305468
taxi             -1.147124
taxi complaint   -1.125086
boilers          -1.065475
Name: Staten Island, dtype: float64

In [296]:
word_df.loc['Staten Island'].sort_values(ascending = False).head()

sewer                   1.526165
mold                    1.172066
material                1.065221
radioactive             1.065221
radioactive material    1.065221
Name: Staten Island, dtype: float64